*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-image: url('./images/portadaR.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.row{
  margin: 0 !important;
}

.row>*{
  margin: 0 !important;
}

.countdown{
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

.countdown-title{
  font-size: 6rem;
  color: white;
  font-weight: 500;
  font-family: 'Babylonica', cursive;
}

.itinerario{
  font-size: 7rem;
  color: #e02a4f;
  font-weight: 500;
  font-family: 'Babylonica', cursive;
}

.mesa-regalos{
  font-size: 5rem;
  color: white;
  font-weight: 600;
  font-family: 'Babylonica', cursive;
}

.bg-mesa{
  background-color: #e88c9f;
  color: white;
}

.countdown-number{
  font-size: 7rem;
  font-weight: 900;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  max-height: 500px;
  max-width: 600px;
}

.mapouter{
  position:relative;
  text-align:right;
  max-height: 500px;
  max-width: 600px;
}

.ceremonia {
  background-color: black;
  min-height: 50vh;
  background-image: url('./images/ceremonia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reven {
  background-color: black;
  min-height: 50vh;
  background-image: url('./images/reven.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.confirmacion {
  min-height: 50vh;
  background-image: url('./images/pame.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.hashtag {
  background-image: url('./images/hashtag.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.b-map{
  background-color: #e02a4f;
  color: white;
  border: none;
}

.text-confirmacion{
  max-width: 500px;
}

@media (max-width: 768px) {
  .countdown{
    padding-bottom: 1.5rem;
  }
  .countdown-number{
    margin-bottom: 0;
  }
  .App-header{
    background-attachment:inherit;
  }
  .dir{
    padding: 2rem 0 2rem 0;
  }
  .map-column{
    display: none;
  }
  .countdown-title{
    font-size: 4rem;
    color: white;
    font-weight: 500;
    font-family: 'Babylonica', cursive;
  }
}

@media (max-width: 576px) {
  .itinerario{
    font-size: 4rem;
  }
  .countdown-number{
    font-size: 4rem;
    font-weight: 900 ;
  }
  .hashtag {
    background-position: left;
  }
  .confirmacion {
    background-position: center;
  }
}
