*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-image: url('./images/portada2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.countdown{
  font-size: 3rem;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid white;
}

.countdown-title{
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

.countdown-number{
  font-size: 5rem;
  font-weight: 900 ;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height: 500px;
  width: 600px;;
}

.mapouter{
  position:relative;
  text-align:right;
  height:90%;
  width:100%;
}

@media (max-width: 768px) {
  .countdown{
    border-bottom: 0px solid white;
    padding-bottom: 1.5rem;
  }
  .countdown-number{
    margin-bottom: 0;
  }
  .App-header{
    background-attachment: none;
  }
}

@media (max-width: 576px) {
  .map-column{
    display: none;
  }
  .countdown-number{
    font-size: 4rem;
    font-weight: 900 ;
  }
}
